# Исключаем временные файлы и папки
*.log
*.tmp
.env

# Исключаем бинарные файлы Go
/bin/
/pkg/

# Исключаем системные файлы
.DS_Store
Thumbs.db

# Исключаем базу данных (если она локальная)
*.db
data/